*{
  margin: 0;
  padding: 0;
}

.header-namespace {
  
  position: relative;
  height : 10vh;
  width: 100%;
  
  z-index: 2;
  background-color: white;
}

.top-bar {
  height : 10vh;
  padding-top: 5px;
  text-align: center;
}

.img-thumbnail {
  top: -140px;
  width: 200px;
  height: 150px;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  
  border: 10px solid black;

}

.header-background-container {
  position: relative;
  height : 40vh;
  width: 100%;
  
  overflow: hidden;
}

.header-background-img {
  width : 100%;

  margin: 0;
  padding: 0;
}


.header-namespace-details {
  position: relative;
  width: 100%;
  
  z-index: 2;
  background-color: grey;
}