*{
  margin: 0;
  padding: 0;
}

.header-namespace {
  
  position: relative;
  height : 35vh;
  width: 100%;

padding-right: 20px;
  
  z-index: 2;
  background-color: rgb(249, 249, 249);
}


.text-info {
  font-size: 1.5em;
}
.top-bar {
  height : 5vh;
  text-align: center;
}

.img-thumbnail {
  bottom: 90px;
  width: 300px;
  height: 200px;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  
  border: 10px solid black;

  pointer-events: none;
  filter: drop-shadow(0 0 0.75rem crimson);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}




.header-background-container {
  position: relative;
  height : 50vh;
  width: 100%;
  
  overflow: hidden;
}

.header-background-img {
  width : 100%;

  margin: 0;
  padding: 0;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.header-namespace-img-container {
  width:20vw;
}

.header-namespace-details {
  position: relative;
  width: 80vw;
  max-width: 1190px;
  

  margin-top: 10px;
  
  z-index: 2;
}


.namespace-name {
  padding-left: 30px;
  font-size: 5em;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
}

.namespace-major {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  text-shadow:0 1px 0 #000000;
  padding: 10px;
}

.namespace-minor {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;

  color: rgb(75, 75, 75);
  text-shadow:0 1px 0 #000000;
  letter-spacing: 0.8px;
}