*{
  margin: 0;
  padding: 0;
}

.header-namespace {
  
  position: relative;
  height : 30vh;
  width: 100%;

  margin-right: 100px;

  
  z-index: 2;
  background-color: white;
}

.top-bar {
  height : 10vh;
  padding-top: 5px;
  text-align: center;
}

.img-thumbnail {
  bottom: 90px;
  width: 300px;
  height: 200px;
  position: relative;
  display: inline-block;
  margin-left: 10%;
  
  border: 10px solid black;

}



.header-background-container {
  position: relative;
  height : 50vh;
  width: 100%;
  
  overflow: hidden;
}

.header-background-img {
  width : 100%;

  margin: 0;
  padding: 0;
}

.header-namespace-img-container {
  width:20vw;
}

.header-namespace-details {
  position: relative;
  width: 80vw;

  margin-top: 10px;
  
  z-index: 2;
}


.namespace-name {
  font-size: 5em;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
}

.namespace-major {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.namespace-minor {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}