*{
  padding: 0;
  margin: 0;
}

.body-content {
  background-color: rgb(174, 0, 255);
  height: 100%;
  width: 100vw;
}


.body-sidebar {
  width: 100%;
  z-index: 2;

  padding-top: 30px;
  padding-bottom: 30px;
  overflow-y: hidden;

  background-color: red;
}

.body-content-slider {
  width: 100%;
  z-index: 2;

  padding-top: 30px;
  padding-bottom: 30px;
  overflow-y: hidden;

  background-color: rgb(233, 233, 233);
}

.card {
  position: relative;

  margin-left: 10%;
  margin-right: 10%;
  width : 80%;
}