*{
  padding: 0;
  margin: 0;
}

.body-content {
  background-color: rgb(174, 0, 255);
  height: 100vh;
  width: 100vw;
}


.body-sidebar {
  height: 70vh;
  width: 100%;
  z-index: 2;

  background-color: red;
}

.body-content-slider {
  height: 70vh;
  width: 100%;
  z-index: 2;

  background-color: rgb(233, 233, 233);
}