*{
  padding: 0;
  margin: 0;
}

.body-content {
  background-color: rgb(73, 58, 80);
  height: 100vh;
  width: 100vw;
}

.top-bar {
  height : 10vh;
  text-align: center;
}

.profile-background-img {
  height : 40vh;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: bisque;
}

.header-namespace {
  
  position: relative;
  height : 10vh;
  width: 100%;
  
  z-index: 2;
  background-color: white;
}

.body-sidebar {
  height: 70vh;
  width: 100%;
  z-index: 2;

  background-color: red;
}

.body-content-slider {
  height: 70vh;
  width: 100%;
  z-index: 2;

  background-color: blue;
}